<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>framer.ui Images</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://neonui.netlify.app/css/main.css" />
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/docsite/docsite.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html">
          <div class="nav-logo">framer.ui</div>
        </a>

        <ul class="nav-links">
          <li><a href="/docsite/docsite.html">Documentation</a></li>
          <li>
            <a target="_blank" href="https://github.com/i-nithin/framer.ui"
              >Github</a
            >
          </li>
          <li><button id="menuBtn" class="material-icons">menu</button></li>
        </ul>
      </nav>
    </header>
    <div class="d-grid-sidebar-1fr">
      <aside>
        <div class="sidebar">
          <ul class="sidebarList">
            <a class="list-item" href="/docsite/docsite.html">Installation</a>
            <a class="list-item" href="/components/alert/alert.html">Alert</a>
            <a class="list-item" href="/components/avatar/avatar.html"
              >Avatar</a
            >
            <a class="list-item" href="/components/badge/badge.html">Badge</a>
            <a class="list-item" href="/components/button/button.html"
              >Button</a
            >
            <a class="list-item" href="/components/card/card.html">Card</a>
            <a class="list-item grid" href="/components/image/image.html"
              >Image</a
            >
            <a class="list-item" href="/components/input/input.html">Input</a>
            <a
              class="list-item"
              href="/components/textUtilities/textUtilities.html"
              >Text Utilities</a
            >
            <a class="list-item" href="/components/toast/toast.html">Toast</a>
            <a class="list-item" href="/components/list/list.html">List</a>
            <a class="list-item" href="/components/ratings/ratings.html"
              >Ratings</a
            >
            <a class="list-item" href="/components/navigation/navigation.html"
              >Navigation</a
            >
            <a class="list-item" href="/components/modal/modal.html">Modal</a>
            <a class="list-item" href="/components/grid/grid.html"
              >Simple grid</a
            >
            <a class="list-item" href="/components/slider/slider.html"
              >Slider</a
            >
          </ul>
        </div>
      </aside>
      <main class="p-2">
        <h1>Image</h1>
        <p>
          images that work well on devices with widely differing screen sizes,
          resolutions, and other such features
        </p>

        <h2>Responsive image</h2>
        <div class="actualExamplesContainer justify-around">
          <img
            class="responsive-img"
            src="https://picsum.photos/200/200"
            alt="no-img"
            style="max-width: 400px"
          />
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f4a0742e8de00130a6ec8"
          style="width: 100%; height: 99px"
          frameborder="0"
        ></iframe>

        <h2>Round image</h2>
        <div class="actualExamplesContainer justify-around">
          <img
            class="responsive-img br-round"
            src="https://picsum.photos/200/200"
            alt="no-img"
            style="max-width: 400px"
          />
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f4a3042e8de00130a6ec9"
          style="width: 100%; height: 99px"
          frameborder="0"
        ></iframe>
      </main>
    </div>
  </body>
</html>
