.grid-col-2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 2rem;
}
.grid-col-3{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2rem;
}
.grid-70-30{
    display: grid;
    grid-template-columns:70% 30%;
    gap: 2rem;
}
.test-grid-box{
    background-color: var(--gray-400);
    width: 100%;
    min-height: 12.5rem;
}