<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>framer.ui Grid</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://framer-designs.netlify.app/css/main.css"
    />
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/docsite/docsite.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html">
          <div class="nav-logo">framer.ui</div>
        </a>

        <ul class="nav-links">
          <li><a href="/docsite/docsite.html">Documentation</a></li>
          <li>
            <a target="_blank" href="https://github.com/i-nithin/framer.ui"
              >Github</a
            >
          </li>
          <li><button id="menuBtn" class="material-icons">menu</button></li>
        </ul>
      </nav>
    </header>
    <div class="d-grid-sidebar-1fr">
      <aside>
        <div class="sidebar">
          <ul class="sidebarList">
            <a class="list-item" href="/docsite/docsite.html">Installation</a>
            <a class="list-item" href="/components/alert/alert.html">Alert</a>
            <a class="list-item" href="/components/avatar/avatar.html"
              >Avatar</a
            >
            <a class="list-item" href="/components/badge/badge.html">Badge</a>
            <a class="list-item" href="/components/button/button.html"
              >Button</a
            >
            <a class="list-item" href="/components/card/card.html">Card</a>
            <a class="list-item" href="/components/image/image.html">Image</a>
            <a class="list-item" href="/components/input/input.html">Input</a>
            <a
              class="list-item"
              href="/components/textUtilities/textUtilities.html"
              >Text Utilities</a
            >
            <a class="list-item" href="/components/toast/toast.html">Toast</a>
            <a class="list-item" href="/components/list/list.html">List</a>
            <a class="list-item" href="/components/ratings/ratings.html"
              >Ratings</a
            >
            <a class="list-item" href="/components/navigation/navigation.html"
              >Navigation</a
            >
            <a class="list-item" href="/components/modal/modal.html">Modal</a>
            <a class="list-item active" href="/components/grid/grid.html"
              >Simple grid</a
            >
            <a class="list-item" href="/components/slider/slider.html"
              >Slider</a
            >
          </ul>
        </div>
      </aside>
      <main class="p-2">
        <h1>Grid</h1>
        <p>
          CSS grid creates complex responsive web design grid layouts more
          easily and consistently across browsers
        </p>

        <h2>Grid 2 column</h2>
        <div class="actualExamplesContainer">
          <div class="grid-col-2 w-100-per">
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f48f042e8de00130a6ec5"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>

        <h2>Grid 3 column</h2>
        <div class="actualExamplesContainer">
          <div class="grid-col-3 w-100-per">
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f493342e8de00130a6ec6"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>

        <h2>Grid 70-30 layout</h2>
        <div class="actualExamplesContainer">
          <div class="grid-70-30 w-100-per">
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
            <div class="test-grid-box"></div>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f495b42e8de00130a6ec7"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </main>
    </div>
  </body>
</html>
