<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>framer.ui Card</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://framer-designs.netlify.app/css/main.css"
    />
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/docsite/docsite.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html">
          <div class="nav-logo">framer.ui</div>
        </a>

        <ul class="nav-links">
          <li><a href="/docsite/docsite.html">Documentation</a></li>
          <li>
            <a target="_blank" href="https://github.com/i-nithin/framer.ui"
              >Github</a
            >
          </li>
          <li><button id="menuBtn" class="material-icons">menu</button></li>
        </ul>
      </nav>
    </header>
    <div class="d-grid-sidebar-1fr">
      <aside>
        <div class="sidebar">
          <ul class="sidebarList">
            <a class="list-item" href="/docsite/docsite.html">Installation</a>
            <a class="list-item" href="/components/alert/alert.html">Alert</a>
            <a class="list-item" href="/components/avatar/avatar.html"
              >Avatar</a
            >
            <a class="list-item" href="/components/badge/badge.html">Badge</a>
            <a class="list-item" href="/components/button/button.html"
              >Button</a
            >
            <a class="list-item active" href="/components/card/card.html"
              >Card</a
            >
            <a class="list-item" href="/components/image/image.html">Image</a>
            <a class="list-item" href="/components/input/input.html">Input</a>
            <a
              class="list-item"
              href="/components/textUtilities/textUtilities.html"
              >Text Utilities</a
            >
            <a class="list-item" href="/components/toast/toast.html">Toast</a>
            <a class="list-item" href="/components/list/list.html">List</a>
            <a class="list-item" href="/components/ratings/ratings.html"
              >Ratings</a
            >
            <a class="list-item" href="/components/navigation/navigation.html"
              >Navigation</a
            >
            <a class="list-item" href="/components/modal/modal.html">Modal</a>
            <a class="list-item" href="/components/grid/grid.html"
              >Simple grid</a
            >
            <a class="list-item" href="/components/slider/slider.html"
              >Slider</a
            >
          </ul>
        </div>
      </aside>
      <main class="p-2">
        <h1>Cards</h1>
        <p>
          Card component provides a flexible container for displaying content.
          Card will come with a bunch of variants and options.
        </p>
        <h2>Simple Card</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="https://picsum.photos/300/250"
                alt="no img"
              />
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h class="font-size-sm color-gray-500">Grey and Black</h>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              Add to Cart
            </button>
          </div>

          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <button class="btn-icon card-badge-topRight">
                <span class="material-icons">favorite_border</span>
              </button>
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h class="font-size-sm color-gray-500">Grey and Black</h>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              Add to Cart
            </button>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f473842e8de00130a6ebf"
          style="width: 100%; height: 528px"
          frameborder="0"
        ></iframe>

        <h2>Card with icons</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <button class="btn-icon bg-white card-badge-topRight">
                <span class="material-icons color-red-600">favorite</span>
              </button>
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h class="font-size-sm color-gray-500">Grey and Black</h>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-secondary w-100-per font-size-regular"
            >
              View Cart
            </button>
          </div>

          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <button class="btn-icon bg-white card-badge-topRight">
                <span class="material-icons color-gray-600">clear</span>
              </button>
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h class="font-size-sm color-gray-500">Grey and Black</h>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              View Cart
            </button>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f477142e8de00130a6ec0"
          style="width: 100%; height: 567px"
          frameborder="0"
        ></iframe>

        <h2>Card with badges</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <div
                class="badge-text bg-green-200 color-green-600 card-badge-topLeft font-size-sm"
              >
                <span class="material-icons badge-icon"> task_alt </span>Best
                Value
              </div>
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h class="font-size-sm color-gray-500">Grey and Black</h>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              View Cart
            </button>
          </div>

          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <div
                class="badge-text bg-warn-200 color-warn-600 card-badge-topLeft font-size-sm"
              >
                <span class="material-icons badge-icon"> trending_up </span>Best
                Seller
              </div>
            </div>
            <div class="card-body">
              <h2 class="font-size-md m-0">Backpack</h2>
              <h6 class="font-size-sm color-gray-500 m-0">Grey and Black</h6>
              <div class="card-desc font-weight-600">
                <div>₹ 699</div>
                <div class="text-decoration-linethrough">₹ 1398</div>
                <div class="color-green-600">50% off</div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              View Cart
            </button>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f47b342e8de00130a6ec1"
          style="width: 100%; height: 528px"
          frameborder="0"
        ></iframe>

        <h2>Text only card</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="card card-textonly p-relative" style="max-width: 350px">
            <h3 class="m-0">Backpack</h3>
            <h5>This is backpack</h5>
            <div class="card-desc">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              iusto architecto quae? Sit, autem ab? Laboriosam fuga voluptatem
              dolorum, eveniet totam laborum repellat fugiat, impedit placeat
              ex, velit beatae.
            </div>
            <button class="btn-icon card-badge-topRight">
              <span class="material-icons">clear</span>
            </button>
            <div class="card-footer">
              <button class="btn btn-primary">Save</button>
              <button class="btn btn-outline">Cancel</button>
            </div>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f47d842e8de00130a6ec2"
          style="width: 100%; height: 229px"
          frameborder="0"
        ></iframe>

        <h2>Horizontal Card</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="card-horizontal">
            <div class="card-horizontal-media">
              <img
                class="responsive-img"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
            </div>
            <div class="d-flex flex-column p-1 gap-1 w-100-per">
              <div class="card-body-header">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey and Black</h>
                <div class="d-flex flex-column font-weight-600">
                  <div class="d-flex gap-1">
                    <span>₹ 699 </span>
                    <span class="text-decoration-linethrough"> ₹ 1398</span>
                  </div>
                  <div class="color-green-600">50% off</div>
                </div>
              </div>
              <button
                class="btn btn-add-cart btn-secondary w-100-per font-size-regular"
              >
                Add to Cart
              </button>
              <button
                class="btn btn-add-cart btn-outline w-100-per font-size-regular"
              >
                Remove From Wishlist
              </button>
            </div>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f480442e8de00130a6ec3"
          style="width: 100%; height: 346px"
          frameborder="0"
        ></iframe>

        <h2>Card with text overlay</h2>
        <div class="actualExamplesContainer justify-around">
          <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
              <img
                class="responsive-img br-top-sm"
                src="/src/img/backpack1.jpg"
                alt="no img"
              />
              <div class="card-body card-body-overlay">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h6 class="font-size-sm color-gray-500 m-0">Grey and Black</h6>
                <div class="card-desc font-weight-600">
                  <div>₹ 699</div>
                  <div class="text-decoration-linethrough">₹ 1398</div>
                  <div class="color-green-600">50% off</div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-add-cart btn-primary w-100-per font-size-regular"
            >
              View Cart
            </button>
          </div>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f482742e8de00130a6ec4"
          style="width: 100%; height: 281px"
          frameborder="0"
        ></iframe>
      </main>
    </div>
  </body>
</html>
