<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>framer.ui Navigation</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://neonui.netlify.app/css/main.css" />
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/docsite/docsite.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html">
          <div class="nav-logo">framer.ui</div>
        </a>

        <ul class="nav-links">
          <li><a href="/docsite/docsite.html">Documentation</a></li>
          <li>
            <a target="_blank" href="https://github.com/i-nithin/framer.ui"
              >Github</a
            >
          </li>
          <li><button id="menuBtn" class="material-icons">menu</button></li>
        </ul>
      </nav>
    </header>
    <div class="d-grid-sidebar-1fr">
      <aside>
        <div class="sidebar">
          <ul class="sidebarList">
            <a class="list-item" href="/docsite/docsite.html">Installation</a>
            <a class="list-item" href="/components/alert/alert.html">Alert</a>
            <a class="list-item" href="/components/avatar/avatar.html"
              >Avatar</a
            >
            <a class="list-item" href="/components/badge/badge.html">Badge</a>
            <a class="list-item" href="/components/button/button.html"
              >Button</a
            >
            <a class="list-item" href="/components/card/card.html">Card</a>
            <a class="list-item" href="/components/image/image.html">Image</a>
            <a class="list-item" href="/components/input/input.html">Input</a>
            <a
              class="list-item"
              href="/components/textUtilities/textUtilities.html"
              >Text Utilities</a
            >
            <a class="list-item" href="/components/toast/toast.html">Toast</a>
            <a class="list-item" href="/components/list/list.html">List</a>
            <a class="list-item" href="/components/ratings/ratings.html"
              >Ratings</a
            >
            <a
              class="list-item active"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
            <a class="list-item" href="/components/modal/modal.html">Modal</a>
            <a class="list-item" href="/components/grid/grid.html"
              >Simple grid</a
            >
            <a class="list-item" href="/components/slider/slider.html"
              >Slider</a
            >
          </ul>
        </div>
      </aside>
      <main class="p-2">
        <h1>Simple Navigation</h1>
        <p>
          Navbar in CSS refers to a group of links that lead to different pages
          of a web site. · Navbars are either vertical or horizontal
        </p>

        <h2>Desktop Navbar</h2>
        <div class="actualExamplesContainer">
          <nav class="nav-container">
            <div class="nav-left">
              <h1>Ecom</h1>
              <form class="d-flex p-relative">
                <input
                  type="text"
                  class="searchbar-input"
                  placeholder="Search for products"
                />
                <span class="material-icons searchbar-icon">search</span>
              </form>
            </div>
            <div class="nav-right">
              <div class="badge-parent">
                <span class="material-icons"> shopping_cart </span>
                <div class="badge-with-icon">5</div>
              </div>

              <div class="badge-parent">
                <span class="material-icons"> favorite_border </span>
                <div class="badge-with-icon">3</div>
              </div>

              <div class="badge-parent">
                <span class="material-icons"> notifications_none </span>
                <div class="badge-with-icon">1</div>
              </div>
            </div>
          </nav>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f5686845bab0013d9940c"
          style="width: 100%; height: 411px"
          frameborder="0"
        ></iframe>

        <h2>Mobile Sidebar</h2>
        <div class="actualExamplesContainer">
          <div class="d-flex gap-1">
            <img
              class="responsive-img navbar-img"
              src="https://cdn.discordapp.com/attachments/903575339857510434/961553802496970782/Screenshot_20220407-1439122.png"
              alt="no img"
            />

            <iframe
              src="https://www.thiscodeworks.com/embed/643f56ca845bab0013d9940d"
              style="width: 100%; height: 372px"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
