.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-muted{
    color: var(--gray-300);
}
.text-striketrough{
    text-decoration: line-through;
}
.text-underline{
    text-decoration: underline;
}

.hilighted-text{
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
}