<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>framer.ui Text Utilities</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://framer-designs.netlify.app/css/main.css"
    />
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/docsite/docsite.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/index.html">
          <div class="nav-logo">framer.ui</div>
        </a>

        <ul class="nav-links">
          <li><a href="/docsite/docsite.html">Documentation</a></li>
          <li>
            <a target="_blank" href="https://github.com/i-nithin/framer.ui"
              >Github</a
            >
          </li>
          <li><button id="menuBtn" class="material-icons">menu</button></li>
        </ul>
      </nav>
    </header>
    <div class="d-grid-sidebar-1fr">
      <aside>
        <div class="sidebar">
          <ul class="sidebarList">
            <a class="list-item" href="/docsite/docsite.html">Installation</a>
            <a class="list-item" href="/components/alert/alert.html">Alert</a>
            <a class="list-item" href="/components/avatar/avatar.html"
              >Avatar</a
            >
            <a class="list-item" href="/components/badge/badge.html">Badge</a>
            <a class="list-item" href="/components/button/button.html"
              >Button</a
            >
            <a class="list-item" href="/components/card/card.html">Card</a>
            <a class="list-item" href="/components/image/image.html">Image</a>
            <a class="list-item" href="/components/input/input.html">Input</a>
            <a
              class="list-item active"
              href="/components/textUtilities/textUtilities.html"
              >Text Utilities</a
            >
            <a class="list-item" href="/components/toast/toast.html">Toast</a>
            <a class="list-item" href="/components/list/list.html">List</a>
            <a class="list-item" href="/components/ratings/ratings.html"
              >Ratings</a
            >
            <a class="list-item" href="/components/navigation/navigation.html"
              >Navigation</a
            >
            <a class="list-item" href="/components/modal/modal.html">Modal</a>
            <a class="list-item" href="/components/grid/grid.html"
              >Simple grid</a
            >
            <a class="list-item" href="/components/slider/slider.html"
              >Slider</a
            >
          </ul>
        </div>
      </aside>
      <main class="p-2">
        <h1>Text Utilities</h1>
        <p>
          The text utility contains helper classes for the CSS text align
          property.
        </p>
        <h2>Text alignment</h2>
        <div class="actualExamplesContainer justify-between">
          <p class="text-center">This is centered text</p>
          <p class="text-left">This is left text</p>
          <p class="text-right">This is right text</p>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f54b2845bab0013d99405"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>

        <h2>Font size</h2>
        <div class="actualExamplesContainer flex-column">
          <p class="font-size-lg">This is large text</p>
          <p class="font-size-md">This is medium text</p>
          <p class="font-size-regular">This is regular text</p>
          <p class="font-size-sm">This is small text</p>
        </div>

        <iframe
          src="https://www.thiscodeworks.com/embed/643f54d4845bab0013d99406"
          style="width: 100%; height: 177px"
          frameborder="0"
        ></iframe>

        <h2>Text Decoration</h2>
        <div class="actualExamplesContainer">
          <p class="text-muted">This is disabled text</p>
          <p class="text-striketrough text-muted">This is disabled text</p>
          <p class="font-weight-600">This is Bold text</p>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f553c845bab0013d99408"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>

        <h2>Text Style</h2>
        <div class="actualExamplesContainer">
          <p>
            This is <span class="hilighted-text bg-gray-200">Bold</span> text
          </p>
          <p>
            This is <span class="hilighted-text bg-warn-200">orange</span> text
          </p>
        </div>
        <iframe
          src="https://www.thiscodeworks.com/embed/643f5566845bab0013d99409"
          style="width: 100%; height: 112px"
          frameborder="0"
        ></iframe>
      </main>
    </div>
  </body>
</html>
